@import url("https://css.gg/css?=|close-o|eye|remove-r|remove|shopping-cart");
#card-deck {
  display: flex; }
  #card-deck .card {
    width: 300px;
    height: 350px;
    position: relative;
    margin: 12px;
    padding: 0;
    transition: 0.5s; }
    #card-deck .card .card-head {
      width: 100%;
      height: 80%; }
      #card-deck .card .card-head .card-img-top {
        height: 100%;
        border-bottom: 2px solid #f1f1f1;
        object-fit: contain; }
    #card-deck .card .card-product {
      margin-top: 8px;
      margin-left: 12px;
      font-weight: 600; }
    #card-deck .card .card-price {
      position: absolute;
      bottom: 8px;
      left: 12px; }
    #card-deck .card .card-button {
      position: absolute;
      bottom: 6px;
      right: 12px; }
  #card-deck .card:hover {
    transform: scale(1.05); }

.modal-body {
  display: flex; }
  .modal-body .modal-img {
    width: 40%;
    height: 40%;
    padding: 8px; }
  .modal-body .modal-description {
    padding: 8px; }
    .modal-body .modal-description p {
      font-weight: 500;
      margin: 0.5em; }

.table-image thead td, .table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem; }

.table-image td, .table-image th {
  vertical-align: middle;
  text-align: center; }
  .table-image td.qty, .table-image th.qty {
    max-width: 2rem; }

.price {
  margin-left: 1rem; }

.modal-footer {
  padding-top: 0rem; }

.alert-container {
  position: absolute; }
  .alert-container .alert {
    position: fixed;
    bottom: 8px;
    right: 12px;
    width: 33%; }

body {
  margin: 0; }

.center-content {
  justify-content: center; }

.ml-auto {
  margin-left: auto !important; }

.aself-center {
  align-self: center; }
