.modal-body{
    display: flex;
    .modal-img{
        width: 40%;
        height: 40%;
        padding: 8px;
    }
    .modal-description{
        padding: 8px;
        p{
            font-weight: 500;
            margin: 0.5em;
        }
    }
}