@import "card"; 
@import "modal";
@import "alert";
@import url('https://css.gg/css?=|close-o|eye|remove-r|remove|shopping-cart');

body{
    margin: 0;
}
.center-content{
    justify-content: center;
}
.ml-auto{
  margin-left: auto !important;
}
.aself-center{
  align-self: center;
}
